# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

# Information about the datasets selected for my project
Here I have selected 4 datasets from Zillow . The first 3 datasets i.e. bedroom_cnt_3, bedroom_cnt_4,bedroom_cnt_5 
show the prices for the 3,4 and 5 bedrooms respectively across all states in US from 2000 till 2021 wih data points
for each month. The fourth dataset i.e Rentals provides the rental value for houses from 2014 till 2021.


## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset:

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


bedroom_cnt_3 = pd.read_csv('City_zhvi_bdrmcnt_3.csv')
bedroom_cnt_4 = pd.read_csv('City_zhvi_bdrmcnt_4.csv')
bedroom_cnt_5 = pd.read_csv('City_zhvi_bdrmcnt_5.csv')
Rentals = pd.read_csv('Rentals.csv')
# head of the data
bedroom_cnt_3.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,244603.0,246352.0,...,681347.0,684588.0,688403.0,692223.0,697387.0,702658.0,706913.0,710416.0,714635.0,719489.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,231986.0,232160.0,...,831832.0,852626.0,875416.0,888956.0,898739.0,901715.0,906546.0,912349.0,917568.0,926537.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,99262.0,99298.0,...,202697.0,206875.0,211398.0,216410.0,220341.0,223825.0,226237.0,228949.0,231762.0,235041.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,160262.0,160569.0,...,287717.0,290038.0,292608.0,296048.0,298416.0,300746.0,303575.0,306241.0,308798.0,310317.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,103065.0,103228.0,...,217295.0,222642.0,227443.0,232714.0,236207.0,240013.0,243324.0,247602.0,251837.0,255859.0

In [2]:
bedroom_cnt_4.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,281913.0,284054.0,...,814607.0,818453.0,822507.0,826079.0,831321.0,837541.0,842353.0,846140.0,850836.0,856407.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,302966.0,303264.0,...,1024613.0,1051789.0,1082237.0,1101777.0,1116468.0,1122728.0,1130758.0,1139317.0,1146978.0,1159833.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,146158.0,146051.0,...,266528.0,272232.0,278566.0,285363.0,290496.0,294865.0,297839.0,301319.0,304851.0,309027.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,183251.0,183735.0,...,343807.0,347434.0,351409.0,355924.0,358823.0,361845.0,365341.0,368879.0,372032.0,373879.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,155136.0,155438.0,...,290501.0,297885.0,305126.0,312282.0,317040.0,321856.0,326452.0,332210.0,338086.0,343481.0

In [3]:
bedroom_cnt_5.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,380874.0,383476.0,...,1106122.0,1108887.0,1113415.0,1119033.0,1127588.0,1135993.0,1141426.0,1144941.0,1149847.0,1155490.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,575484.0,575555.0,...,1865200.0,1906444.0,1959852.0,1998784.0,2030083.0,2043034.0,2056156.0,2071969.0,2084513.0,2106651.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,251790.0,251744.0,...,428534.0,437467.0,447056.0,457096.0,464565.0,470878.0,475003.0,479898.0,485051.0,490842.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,203916.0,204455.0,...,380860.0,385245.0,390116.0,394683.0,397428.0,400624.0,404299.0,408209.0,411436.0,413342.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,218055.0,218571.0,...,378771.0,388742.0,398484.0,407783.0,413653.0,419670.0,425435.0,432522.0,439880.0,446514.0

In [4]:
Rentals.head()

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02
0,102001,United States,0,1263.0,1274,1275.0,1282,1294,1304,1314,...,1681.0,1713,1748,1781,1805.0,1823.0,1840,1856,1862,1883
1,394913,"New York, NY",1,2222.0,2250,2257.0,2262,2294,2312,2330,...,2503.0,2551,2611,2655,2694.0,2722.0,2747,2778,2810,2860
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,1808.0,1837,1826.0,1833,1857,1875,1894,...,2514.0,2557,2600,2654,2690.0,2718.0,2742,2765,2784,2816
3,394463,"Chicago, IL",3,1414.0,1426,1427.0,1432,1447,1461,1470,...,1679.0,1702,1721,1740,1746.0,1751.0,1757,1771,1785,1797
4,394514,"Dallas-Fort Worth, TX",4,1084.0,1110,1115.0,1131,1126,1129,1133,...,1503.0,1540,1581,1617,1639.0,1652.0,1670,1680,1688,1699

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [5]:
bedroom_cnt_3.shape   # This tells us how many rows and columns are present in the dataset

(24063, 274)

In [6]:
bedroom_cnt_4.shape

(21721, 274)

In [7]:
bedroom_cnt_5.shape

(17069, 274)

In [8]:
Rentals.shape

(109, 101)

In [9]:
#To fetch column names in our dataset?
bedroom_cnt_3.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '2000-01-31', '2000-02-29',
       ...
       '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
       '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28'],
      dtype='object', length=274)

By looking at the columns , we can observe that the housing price in each of the datasets is spread across 2000-01-31 till 2022-02-28 which is span of 22 years and the observation is for each month hence resulting in 264 columns/features (22*12).However we do not need column for each date column , hence I would be using Pivot function in Tableau to convert rows in to columns which will result in 2 columns being created instead of 264 (Date column and Value column).

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

In [10]:
# Converting date columns in to rows
bedroom_cnt_3 = bedroom_cnt_3.melt(id_vars=["RegionID", "SizeRank", "RegionName" ,"RegionType", "StateName" , "State" , "Metro"
                           , "CountyName" ], 
        var_name="Date", 
        value_name="Value")

In [11]:
bedroom_cnt_3.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', 'Date', 'Value'],
      dtype='object')

Here we can see instead of having column for each date , now we have one single Date column and the corresponding Value column 
which has the house price value for the respective dates

In [12]:
bedroom_cnt_3.shape # columns have reduced from 264 to 10

(6400758, 10)

In [13]:
# check for missing values

bedroom_cnt_3['Value'].isna().sum()

1602045

The reason for having so many NULL values is because for many of the cities under different US states ,
the data for home price index is not available for initial 5/6 years years. However we have still data available for minimum of 
10 years for each states and hence we have ample data to derive useful insights. Hence we will not be removing the columns with 
NULL values for "Values" column which shows housing prices data.

In [14]:
# (Q) inspect the structure of the data set
bedroom_cnt_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6400758 entries, 0 to 6400757
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   RegionID    int64
 1   SizeRank    int64
 2   RegionName  object
 3   RegionType  object
 4   StateName   object
 5   State       object
 6   Metro       object
 7   CountyName  object
 8   Date        object
 9   Value       float64
dtypes: float64(1), int64(2), object(7)
memory usage: 488.3+ MB

In [15]:
# print the unique values of the "Date" column

print(list(bedroom_cnt_3['Date'].unique()))

['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28']

In [16]:
# (Q) High Level Statistics
bedroom_cnt_3.describe()

           RegionID      SizeRank         Value
count  6.400758e+06  6.400758e+06  4.798713e+06
mean   5.020793e+04  1.423740e+04  1.956280e+05
std    7.795386e+04  8.783616e+03  1.813836e+05
min    3.300000e+03  0.000000e+00  5.824000e+03
25%    1.762700e+04  6.528000e+03  1.020420e+05
50%    3.216300e+04  1.372400e+04  1.480230e+05
75%    4.706300e+04  2.173000e+04  2.260050e+05
max    7.608870e+05  2.944900e+04  6.145580e+06

In [23]:
bedroom_cnt_3.duplicated().sum()

0

This confirms there are no duplicate rows in the dataset

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? 
2. Do you have any concerns about your dataset? 
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data?

### Summary of Analysis 

1.RegionId and Rank column is not needed for the analysis as for our analysis we need to create a hierarchy of state and county which will give us unique combination and hence can be dropped

2.StateName and State coulmn have similar values and hence one of those can be dropped

3.Metro column can be dropped , as for our analysis we need to create a hierarchy of state and county which will give us unique combination